/*PANTALLA DE CARGA*/
#contenedor_carga{
	background-color: rgba(250,240,245,0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease; 
	z-index:10000;
}
#carga{
	border: 15px solid #ccc;
	border-top-color: gray;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 50%;

	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;

	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}
@keyframes girar{
	from{transform: rotate(0deg); }
	to{transform: rotate(360deg);}

}
/*FIN PANTALLA DE CARGA*/

.section{

    margin-top: 100px;
    width: 85%;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
    height: 1000px;
}


/*********************SLIDER******************************/
h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

#carousel{
	margin-top:5%;
}


#texto{
	margin-right: 10%;
	margin-left: 10%;
}

.contenedor{
    width: 80%;
}


/**********************************FIN SLIDER*********************************/

<<<<<<< HEAD
@media (max-width:767px) {
    /*********************SLIDER******************************/
h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.content-all{
    display: none;
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

#carousel{
    margin-top:5%;
}


#texto{
    margin-right: 10%;
    margin-left: 10%;
}

.contenedor{
    width: 80%;
}



    }
=======
/*PARTE DE CONTACTENOS DOUGLAS*************************** NO REVISADO************************/
header{
    background-color: red;
    color: black;
}
.titulo{
    margin: auto;
    border: solid;
    margin-top: 30px;
    width: 90%;
    height: 300px;
}
.body{
    margin-top: 80px; 
    background-color: rgba(55,55,55,0.2);
    width: 100%;
    height: 100%;
    margin: auto;
}
.izquierda{
    background-color: rgba(55,55,55,0.2);
    top:100px;
    width: 50%;
    float: left;
    height: 100%;
    border-right: solid;
}
.izquierda h2 {
    margin-top: 50px;
}
.derecha{
    background-color: rgba(55,55,55,0.2);
    width: 50%;
    float: left;
    height: 100%;
}
.derecha h2 {
    margin-top: 50px;
}
footer{
    border-top: solid;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    background-color: black;
}

footer .container-fluid{
    width: 12%;

}
footer img{
    float: left;
    margin-left: 20px;
}

/*FIN PARTE DE CONTACTENOS DOUGLAS*************************** NO REVISADO************************/
>>>>>>> 18efcb2c06caa8805aafb292d22239e3a8b3055c
